@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-image: url(/bg.svg);
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
}

*{
    @apply text-slate-100;
}

.btn-secondary{
    @apply w-full py-2 px-4;
    @apply font-semibold text-[#5985b2] hover:text-slate-100 text-lg;
    @apply bg-transparent hover:bg-[#2b4e71];
    @apply border border-[#5985b2] hover:border-transparent rounded;
    @apply transition;
}

*::-webkit-scrollbar{
    width: 0.3vw;
}
*::-webkit-scrollbar-thumb{
    background-color: #ffac30;
    border-radius: 100px;
}